.project__list-task {
  background-color: #f4f5f7;
  border-radius: 3px;
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 10px;
  height: max-content;
  min-height: 300px;
  height: 60%;
  overflow-y: auto;
  padding: 2rem;
}

.project__list-task.over {
  background-color: #EEEEEE;
}

.project__state-task-list {
  height: 100%;
  position: relative;
}

.project__title-state {
  text-align: center;
  text-transform: capitalize;
  background-color: #f4f5f7;
  padding: 0;
  margin: 0;
  margin-top: 0px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  max-width: 100%;
  width: 100%;
  height: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #172B4D;
  font-size: 0.9rem;
}
.project__form {
  width: min-content;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  color: black;
}
.project_delete {
    background-color: #fe6464;
    color: white;
    margin-top: 2rem;
}

.project__title-state::before {
    opacity: 0.2;
    transition-duration: 0.2s;
    transition-timing-function: initial;
    transition-delay: initial;
    transition-property: opacity;
    content: "";
    position: absolute;
    bottom: 8px;
    left: 0px;
    right: 0px;
    height: 2px;
    pointer-events: none;
    background-color: #97A0AF;
    top: 50px;
}
