#img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

#canvas {
  display: block;
  margin: 2rem auto;
  width: 540px;
  height: 540px;
}

.project__state-container {
  display: flex;
}

.project__state-item {
  min-width: 200px;
  min-height: 500px;
  background-color: beige;
  margin: 30px;
}